<script src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js"></script>
    
</body>
<footer>
    <nav class="navbar text-center footer-font sticky-bottom">
        <a class="navbar-brand text-center mx-auto mt-5" href="https://github.com/simpleCodify">Created By: Jonathan Pak</a>
    </nav>
</footer>
</html>