<%- include('./partials/header.ejs'); %>

<!-- THIS IS GETTING THE RENDER's PROPERTIES FROM THE CONTROLLER -->

<% if (user) { %>
  <h1>Welcome <%= user.name %></h1>
<% } else { %>
  <h1>Please Login!</h1>
<% } %>


<a href="/recipes">Take me to Recipes</a>

<%- include('./partials/footer.ejs'); %>