
body {
  margin: 0px;
  padding: 0;
  font-family: 'Livvic', sans-serif;
  font-size: 14px;
}


.bpad {
  width: 27rem;
  height: 22rem;
  margin-bottom: 25px !important;
  padding-bottom: 25px !important;
}

.foodcard {
  width: 27rem;
  
  padding-bottom: 25px;
}

#container {
  margin: 25px;
  padding: 55px;
}

h1 {
  margin: 20px auto;
  text-align: center;
}

h2, h3, h4 {
  margin: 20px auto;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

.carousel-container{
  margin-top: 45px;
  padding-left: 300px;
  padding-right: 300px;
  background-color: darkgray;
}

.carousel-inner img {
  margin: auto;
  max-height: 400px;
}

.profile-avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2px solid black;
}

.card-horizontal {
  display: flex;
  flex: 8 2 auto;
}


.ingredient-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: black;
}

.navbar-font {
  color: #660a9c !important;
}

a.nav-link {
  text-shadow: 0 0 2px #ae5deb;
}


.transclass{
  background-color:rgb(211, 211, 211);
  transition:background-color 1.5s ease 0s;
  }
  
.transclass:hover{
background-color:#bc70f6;
box-shadow:0px 0px 45px 7px #ffffff;
}

.transclass2{
  background-color:rgb(211, 211, 211);
  transition:background-color 1.5s ease 0s;
  }
  
.transclass2:hover{
background-color:#000000;
color: #fff;
box-shadow:0px 0px 45px 7px #ffffff;
}