
body {
  height: 100%;
  margin: 0px;
  padding: 0;
  font-family: 'Livvic', sans-serif;
  font-size: 14px;
}

.bpad {
  width: 27rem;
  height: 22rem;
}

.foodcard {
  width: 27rem;
}

#container {
  margin: 25px;
  padding: 55px;
}

h1 {
  margin: 20px auto;
  text-align: center;
}

h4 {
  margin: 2px auto;
}

.footer-font {
  font-family: 'Dancing Script', cursive;
  color: #26459d;
}

h1.display-4{
  font-family: 'Dancing Script', cursive;
  color: #26459d;
}

h2, h3 {
  margin: 20px auto;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}


.carousel-container{
  margin-top: 45px;
  padding-left: 300px;
  padding-right: 300px;
  background-color: darkgray;
}

.carousel-inner img {
  margin: auto;
  /* max-height: 400px; */
}

.profile-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid black;
}

.card-horizontal {
  display: flex;
  flex: 8 2 auto;
}


.ingredient-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 5px auto;
  background-color: black;
}

.navbar-font {
  color: #26459d !important;
  
}

a.nav-link {
  text-shadow: 0 0 2px #26459d;
}


.transclass{
  background-color:rgb(211, 211, 211);
  transition:background-color 1.5s ease 0s;
  }
  
.transclass:hover{
background-color:#bc70f6;
box-shadow:0px 0px 45px 7px #ffffff;
}

.transclass2{
  background-color:rgb(211, 211, 211) !important;
  transition:background-color 1.5s ease 0s;
  }
  
.transclass2:hover{
background-color:#1a2a56 !important;
color: #fff;
box-shadow:0px 0px 45px 7px #ffffff;
}

.transclass3{
  color: #1a2a56;
  transition:background-color 1.5s ease 0s;
  }
  
.transclass3:hover{
color: #4967c0;
box-shadow:0px 0px 45px 7px #ffffff;
}