
body {
  margin: 0px;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.bpad {
  width: 27rem;
  height: 22rem;
  margin-bottom: 25px !important;
  padding-bottom: 25px !important;
}

.foodcard {
  width: 27rem;
  
  padding-bottom: 25px;
}

#container {
  margin: 25px;
  padding: 55px;
}

h1 {
  margin: 20px auto;
  text-align: center;
}

.carousel-container{
  margin-top: 45px;
  padding-left: 300px;
  padding-right: 300px;
  background-color: darkgray;
}

.carousel-inner img {
  margin: auto;
  max-height: 400px;
}

.profile-avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2px solid black;
}

.card-horizontal {
  display: flex;
  flex: 8 2 auto;
}