<%- include('../partials/header.ejs'); %>


<h1>NEW RECIPE?</h1>

<form action="/recipes" method="POST">
  <div class="form-group" style="margin: 20px auto;">
    <label class="mx-left">Title</label>
    <input type="text" class="form-control mx-left" id="" name="title" placeholder="Name of Recipe" style="max-width: 40rem; margin: 20px;">
  </div>
  <div class="form-group">
    <label for="">Preparation Time</label>
    <input type="text" class="form-control" id="" name="prepTime" placeholder="In Minutes" style="max-width: 40rem; margin: 20px;">
  </div>
  <div class="form-group">
      <label for="">Instructions</label>
      <input type="text" class="form-control" id="" name="instructions" placeholder="Instructions">
    </div>
  <div class="form-group">
      <label for="">Ingredient Category</label>
      <input type="text" class="form-control" id="" name="ingredientCategory" placeholder="Category of Ingredient">
  </div>
  <div class="form-group">
      <label for="">Ingredient Name</label>
      <input type="text" class="form-control" id="" name="ingredientName" placeholder="Name of Ingredient">
  </div>
  <div class="form-group">
      <label for="">Ingredient Amount</label>
      <input type="text" class="form-control" id="" name="ingredientAmount" placeholder="Amount of Ingredient">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>



<%- include('../partials/footer.ejs'); %>